@import '../../scss/variables';
@import '../../scss/mixins/form';
@import '../../scss/mixins/button';

.theme{
    @include form;
    button{
        @include button;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}